body{
    background-size: cover;
    background-image: url(ImageCarteMenu/Background.jpg);
}

#ProduitEnVente{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;  
    margin-left: 1em;
    margin-right: 1em;
}

#TTC{
    text-align: right;
    margin-top: 0%;
    margin-right: 3%;
}
#DescriptionProduit{
    margin-top: 1.2rem;
    width: 275px;
    height: 50px;
    text-align: center;
    font-size: 0.95em;
}

#Produit{
    margin-right: 1.5em;
    margin-left: 1.5em;
}

#ApercuProduit{
    text-align: center;
    margin-right: 3.5%;
    margin-left: 3.5%;
}

#StreetFood{
    color: rgb(186,32,32);
    margin: 2%;
}

#CantocheVGé{
    color: green;
    margin: 2%;
}

#NosDesserts{
    color: rgb(234, 140, 33);
    margin: 2%;
}

#marge{
    margin-left: 10%;
    margin-right: 10%;
    border: 4px solid;
    border-radius: 20px;
}

#DescriptionProduit{
    
    font-style: italic;
}

#PrixProduit{
    font-size: 1.4rem;
    margin-right: 1em;
    margin-left: 1.5em;
    text-align: left;
    margin-top: 13%;
    margin-bottom: 10%;
}

#NomProduit{
    text-align: center;
    font-size: 1.3em;
    margin-top: 3%;
}

#ImageProduit{
    max-width: 200px;
}

legend{
    border: solid;
    border-radius: 30px;
    height: 70px;
    width: 500px;
    font-size: 1.4em;
    text-align: left;
    margin-left: 30px;
    font-family: cursive;
    background-color: rgb(205, 205, 205);;
}

#TitreLegend{
    margin-top: 0.1%;
    text-align: center;
}

#NosBoissons{
    color: rgb(60, 149, 203);
    margin: 2%;
}
