* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

footer{
    box-shadow: 0px 0px 20px black;
    position: relative;
    min-height: 100%;
}

.navbarFooter{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(196, 194, 194);
    background-size: 100%;
    height: 117px;
}

.linksFooter{
    font-family: 'Permanent Marker',sans-serif;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between ;
    align-items: center;

}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float:left;
}

.links li a{
    text-decoration: none;
    display: flex;
    padding: 1.5rem;
    color: black;
}

.left {
    margin-left: -50%;
}

.row {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-top: 10%;
}

#enveloppe {
    width: 16%;
    height: 55%;
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
}

#contact {
    margin-top: -5%;
    margin-left: -2%;
}

.reseau {
    margin-left: -25%;
}

.facebook {
    height: 60px;
    width: 70px;
    cursor: pointer;
}

.instagram {
    height: 60px;
    width: 90px;
    cursor: pointer;
}

.tripadvisor {
    height: 60px;
    width: 70px;
    cursor: pointer;
}

#telephone {
    height: 50px;
    width: 50px;
    margin-top: 20%;
}

.appel {
    margin-left: 20%;
}

#numTel {
    margin-left: -25%;
    margin-top: -10%;
}

#marqueur {
    height: 50px;
    width: 50px;
    margin-left: 25%;
    cursor: pointer;
}

.map {
    margin-left: 20%;
}

#coordonnees {
    margin-top: -10%;
}

.mentions {
    margin-left: 20%;
    margin-top: 1%;
}