

.navbar{
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    height: 80px;
    box-shadow: 0px 0px 100px black;
}

.logo{
    display: flex;
    justify-content: center;
}

.linksNav{
    font-family: 'Permanent Marker',sans-serif;
    font-size: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float:left;
}

.linksNav li a{
    text-decoration: none;
    display: flex;
    padding: 1.5rem;
    color: white;
}



